Q1. What are data structures, and why are they important?
Ans:
Data structures are ways of organizing and storing data so it can be used efficiently. They are important because they help optimize operations like searching, inserting, deleting, and updating data. Examples: arrays, linked lists, stacks, queues, trees, graphs, hash tables.

Q2. Explain the difference between mutable and immutable data types with examples.
Ans:

Mutable: Can be changed after creation. Example: list = [1,2,3]; list[0] = 10.

Immutable: Cannot be changed after creation. Example: string = "hello"; string[0] = "H" is not allowed

Q3. What are the main differences between lists and tuples in Python?
Ans:

List: Mutable, slower, written as [ ]

Tuple: Immutable, faster, written as ( )
Example: list = [1,2], tuple = (1,2)

Q4. Describe how dictionaries store data.
Ans:
Dictionaries store data as key-value pairs using a hashing mechanism. Keys must be immutable (e.g., strings, numbers, tuples), and values can be any data type. Example: {"name":"Tejas","age":20}

Q5. Why might you use a set instead of a list in Python?
Ans:

Sets do not allow duplicate values.

Faster membership checking (in) than lists.
Example: {1,2,3} vs [1,2,2,3]

Q6. What is a string in Python, and how is it different from a list?
Ans:

String: Immutable sequence of characters. Example: "hello".

List: Mutable sequence of items (can hold different data types). Example: [1,"hi",3.5]

Q7. How do tuples ensure data integrity in Python?
Ans:
Since tuples are immutable, once created they cannot be modified. This prevents accidental changes, ensuring data integrity

Q8. What is a hash table, and how does it relate to dictionaries in Python?
Ans:
A hash table is a data structure that maps keys to values using a hash function. Python dictionaries are implemented as hash tables

Q9. Can lists contain different data types in Python?
Ans:
Yes ,my_list = [1, "hello", 3.5, True]

Q10. Explain why strings are immutable in Python.
Ans:
Strings are immutable because they are stored in memory as fixed objects. This allows efficient memory management, caching, and thread safety

Q11. What advantages do dictionaries offer over lists for certain tasks?
Ans:

Faster lookups using keys 

Better for mapping relationships (e.g., name → mansi).

Q12. Describe a scenario where using a tuple would be preferable over a list.
Ans:
When data should not change, e.g., storing geographical coordinates (lat, long) or configuration values

Q13. How do sets handle duplicate values in Python?
Ans:
Sets automatically remove duplicates. Example:
set([1,2,2,3]) → {1,2,3}

Q14. How does the “in” keyword work differently for lists and dictionaries?
Ans:

For lists: Checks if the element exists. Example: 2 in [1,2,3] → True.

For dictionaries: Checks if the key exists, not the value. Example: "name" in {"name":"Tejas"} → True

Q15. Can you modify the elements of a tuple? Explain why or why not.
Ans:
No, because tuples are immutable. Once created, their elements cannot be changed

Q16. What is a nested dictionary, and give an example of its use case.
Ans:
A dictionary inside another dictionary.
Example:
students = {
    "Tejas": {"age":20,"branch":"IT"},
    "Ravi": {"age":21,"branch":"CS"}
}

In [14]:
students

{'Tejas': {'age': 20, 'branch': 'IT'}, 'Ravi': {'age': 21, 'branch': 'CS'}}

In [19]:
students["Tejas"]["age"]

20

Q17. Describe the time complexity of accessing elements in a dictionary.
Ans:
Average case: O(1) using hashing.
Worst case (rare): O(n) if hash collisions occur

Q18. In what situations are lists preferred over dictionaries?
Ans:

When order matters.

When storing simple sequences of data.

When indexing by position is required

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Ans:
Dictionaries store data by hashing keys, not by position. Retrieval is based on keys, not order. (Since Python 3.7+, they maintain insertion order, but logically still considered unordered.)

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.
Ans:

List: Access elements by index (position). Example: list[0].

Dictionary: Access elements by key. Example: dict["name"]

In [20]:
print("Q1")
name = "Tejas Chavan"
print(name)

Q1
Tejas Chavan

In [21]:
# 2
print("Q2")
text = "Hello World"
print(len(text))

Q2
11

In [22]:
# 3
print("Q3")
s = "Python Programming"
print(s[:3])

Q3
Pyt

In [24]:
print("Q4")
word = "hello"
print(word.upper())

Q4
HELLO

In [31]:
# 5
print("Q5")
string  = "I like Apple"
print(string.replace("Apple", "Orange"))

Q5
I like Orange

'I like Apple'

In [30]:
# 6
print("Q6")
numbers = [1, 2, 3, 4, 5]
print(numbers)

Q6
[1, 2, 3, 4, 5]

In [32]:
# 7
print("Q7")
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

Q7
[1, 2, 3, 4, 10]

In [33]:
# 8
print("Q8")
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

Q8
[1, 2, 4, 5]

In [34]:
# 9
print("Q9")
letters = ['a', 'b', 'c', 'd']
print(letters[1])

Q9
b

In [35]:

# 10
print("Q10")
nums = [10, 20, 30, 40, 50]
nums.reverse()
print(nums)

Q10
[50, 40, 30, 20, 10]

In [36]:
# 11
print("Q11")
t = (100, 200, 300)
print(t)

Q11
(100, 200, 300)

In [37]:
# 12
print("Q12")
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

Q12
blue

In [38]:
# 13
print("Q13")
nums = (10, 20, 5, 15)
print(min(nums))

Q13
5

In [39]:
# 14
print("Q14")
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

Q14
1

In [40]:
# 15
print("Q15")
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

Q15
False

In [41]:
# 16
print("Q16")
s = {'a', 'b', 'c'}
print(s)

Q16
{'a', 'b', 'c'}

In [42]:
# 17
print("Q17")
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

Q17
set()

In [43]:
# 18
print("Q18")
s = {1, 2, 3, 4}
s.remove(4)
print(s)

Q18
{1, 2, 3}

In [45]:
# 19
print("Q19")
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

Q19
{1, 2, 3, 4, 5}

In [46]:
# 20
print("Q20")
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

Q20
{2, 3}

In [47]:
# 21
print("Q21")
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

Q21
{'name': 'John', 'age': 25, 'city': 'New York'}

In [48]:
# 22
print("Q22")
d = {'name': 'John', 'age': 25}
d["country"] = "USA"
print(d)

Q22
{'name': 'John', 'age': 25, 'country': 'USA'}

In [49]:
# 23
print("Q23")
d = {'name': 'Alice', 'age': 30}
print(d["name"])

Q23
Alice

In [50]:
# 24
print("Q24")
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop("age")
print(d)

Q24
{'name': 'Bob', 'city': 'New York'}

In [51]:
# 25
print("Q25")
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

Q25
True

In [52]:
# 26
print("Q26")
lst = [1, 2, 3]
t = (4, 5, 6)
d = {"a": 1, "b": 2}
print(lst, t, d)

Q26
[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [53]:
# 27
print("Q27")
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

Q27
[2, 56, 72, 84, 86]

In [54]:
# 28
print("Q28")
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

Q28
date

In [55]:
# 29
print("Q29")
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
d1.update(d2)
print(d1)

Q29
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [56]:
# 30
print("Q30")
lst = ["apple", "banana", "cherry", "apple"]
s = set(lst)
print(s)

Q30
{'cherry', 'banana', 'apple'}